header
{
    background-image: url(../../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    position:relative;
}
.navbar-light .navbar-brand 
{
    color:#fff;
}
.navbar-light .navbar-brand:hover 
{
    color:#fff;
}
.navbar-light .navbar-nav .nav-link
{
    color:rgb(207, 207, 207);
}
.navbar-light .navbar-nav .nav-link:hover 
{
    color:#fff;
}
.height
{
    margin-top:10%;
    color:#fff;
}
.height h1 
{
    font-size:49px;
    padding-bottom:20px;
}
.height p 
{
    font-size:18px;
    font-weight: 600;
}
section
{
    padding:85px 0;
}
.row
{
    --bs-gutter-x: 0rem;
}
small
{
    margin-top:8px;
}
small img 
{
    width:30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.i
{
    color:#fff;
    margin-top:8px;
    margin-left:15px;
    cursor:pointer;
}